.search {
  padding: 0.8rem;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0.2rem var(--light-grey);
  border: 0.1rem solid var(--light-grey);
}

.search li {
  padding: 0.2rem 0;
}

.search li:hover {
  cursor: pointer;
  font-weight: 500;
}
