.search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: var(--grey);
}

.searchList {
  position: absolute;
  top: 4.8rem;
  z-index: 999;
  width: 60rem;
  border-radius: 4px;
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
}

input {
  width: 40rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-size: 1.6rem;
}

input::placeholder {
  font-style: italic;
}
