.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background-color: var(--grey);
}

.window {
  position: relative;
  width: 70rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchList {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 999;
  width: 30rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 0.2rem var(--grey);
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
}

.wrapper {
  width: 30rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  background-color: #fff;
}

input {
  width: 98%;
  border: none;
  outline: none;
  font-size: 1.6rem;
}

input::placeholder {
  font-style: italic;
}

.gpsIcon {
  font-size: 2.2rem;
}

.gpsIcon:hover {
  transition: all 0.25s linear;
  color: var(--pink);
}

.text {
  font-size: 2.4rem;
  color: var(--white);
}

@media (max-width: 44em) {
  .wrapper,
  .searchList {
    width: 80%;
  }

  .window {
    width: 94%;
  }

  .text {
    display: none;
  }
}
