.app {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 1rem auto;
  width: 95rem;
  font-size: 1.6rem;
  padding: 0.8rem;
}

@media (max-width: 44em) {
  .app {
    width: auto;
  }
}
