.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

/* 1em = 16px */
@media (max-width: 44em) {
  .container {
    width: 92%;
  }
}
